<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rick's Library</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/library.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Rick's Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="addbook.html">Add New Book</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="addcategory.html">Add New Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Add New Category</h1>
                <p class="lead">In this section, you can add new book's categories to the library. Use the form to do so...</p>
            </div>

            
            <div class="col-lg-4">
                <form enctype="application/json" action="/post/json" method="post" novalidate class="needs-validation">
                    <div class="form-group">
                        <input class="form-control mt-3" type="text" name="name" placeholder="Name" required>
                        <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
                    </div>
                </form>

                 <button id="delete" class="btn btn-danger btn-block mt-3">Delete</button>
                <p class="text-muted text-center">To delete a category, click the required row first</p>

            </div>

            <div id="results" class="col-lg-8 mb-5"></div>
            </div>


        </div>
    </div>

    <footer class="footer">
        <div class="container">
            
            Henrique Anunciacao | rickanunciacao@gmail.com &copy; 2020

        </div>


    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/categorytable.js"></script>
    <script src="js/library.js"></script>
    

</body>

</html>